body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(180deg, #c7b8ff, #e8e6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  background: white;
  width: 90%;
  max-width: 450px; /* desktop */
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

select,
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #6c63ff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #5850d8;
}

#result {
  background: #f7f7ff;
  padding: 18px;
  margin-top: 20px;
  border-radius: 12px;
  line-height: 1.5;
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  select,
  button {
    font-size: 14px;
    padding: 10px;
  }

  #result {
    font-size: 14px;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #c4a7ff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body.aries {
  background: linear-gradient(180deg, #ff416c, #ffa83e);
  color: #333;
}

body.taurus {
  background: linear-gradient(180deg, #3b983e, #d2fda1);
  color: #333;
}

body.gemini {
  background: linear-gradient(180deg, #ffeb3b, #b3ffe8);
  color: #333;
}

body.cancer {
  background: linear-gradient(180deg, #698da0, #eaeed4);
  color: #333;
}

body.leo {
  background: linear-gradient(180deg, #ed6f31, #e24263);
  color: #333;
}

body.virgo {
  background: linear-gradient(180deg, #667a54, #ddd8c5);
  color: #333;
}

body.libra {
  background: linear-gradient(180deg, #b2ddde, #fbeae2, #ffb6c1);
  color: #333;
}

body.scorpio {
  background: linear-gradient(180deg, #5d4037, #531639, #010734);
  color: #333;
}

body.sagittarius {
  background: linear-gradient(180deg, #b696ed, #f5d078);
  color: #333;
}

body.capricorn {
  background: linear-gradient(180deg, #fff4ba, #005136, #00094b);
  color: #333;
}

body.aquarius {
  background: linear-gradient(180deg, #fffce1, #cbf9ff, #29d1b2);
  color: #333;
}

body.pisces {
  background: linear-gradient(180deg, #27b089, #8cc38e, #e5b7ed);
  color: #333;
}
