body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(180deg, #c7b8ff, #e8e6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.app-container {
  background: white;
  width: 90%;
  max-width: 450px; /* desktop */
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

select,
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #6c63ff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #5850d8;
}

#result {
  background: #f7f7ff;
  padding: 18px;
  margin-top: 20px;
  border-radius: 12px;
  line-height: 1.5;
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  select,
  button {
    font-size: 14px;
    padding: 10px;
  }

  #result {
    font-size: 14px;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #c4a7ff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-mode-button {
  transition: 0.3s;
  color: #ffffff;
  border: none;
}
.dark-mode-button:hover {
  background: #000000 ;
}

/* dark mode */
.dark-mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dark body {
  background: linear-gradient(180deg, #19142e, #333339);
  color: #e2e8f0; 
}

.dark .app-container {
  background: #2d3748; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

.dark select {
  background: #4a5568; 
  color: #e2e8f0;
  border-color: #4a5568; 
}

.dark #result {
  background: #2d3748;
}
.dark .dark-mode-button {
  color: #ffffff;
}

.dark .dark-mode-button:hover {
  background: #ffffff ;
  color: #151515 ;
}


.dark body.aries {
  background: linear-gradient(180deg, #3c1720, #45331d);
}

.dark body.taurus {
  background: linear-gradient(180deg, #1b461c, #3f4b31);
}

.dark body.gemini {
  background: linear-gradient(180deg, #312d07, #2b423b);
}

.dark body.cancer {
  background: linear-gradient(180deg, #2b3d46, #585b49);
}

.dark body.leo {
  background: linear-gradient(180deg, #522813, #641424);
}

.dark body.virgo {
  background: linear-gradient(180deg, #404d35, #4e4830);
}

.dark body.libra {
  background: linear-gradient(180deg, #415050, #433e3c, #463336);
}

.dark body.scorpio {
  background: linear-gradient(180deg, #5d4037, #531639, #010734);
}

.dark body.sagittarius {
  background: linear-gradient(180deg, #2f263f, #504221);
}

.dark body.capricorn {
  background: linear-gradient(180deg, #3f3c2e, #005136, #00094b);
}

.dark body.aquarius {
  background: linear-gradient(180deg, #42413a, #394647, #0b3830);
}

.dark body.pisces {
  background: linear-gradient(180deg, #0f3d30, #2d452d, #514253);
}

body.aries {
  background: linear-gradient(180deg, #ff416c, #ffa83e);
}

body.taurus {
  background: linear-gradient(180deg, #3b983e, #d2fda1);
}

body.gemini {
  background: linear-gradient(180deg, #ffeb3b, #b3ffe8);
}

body.cancer {
  background: linear-gradient(180deg, #698da0, #eaeed4);
}

body.leo {
  background: linear-gradient(180deg, #ed6f31, #e24263);
}

body.virgo {
  background: linear-gradient(180deg, #667a54, #ddd8c5);
}

body.libra {
  background: linear-gradient(180deg, #b2ddde, #fbeae2, #ffb6c1);
}

body.scorpio {
  background: linear-gradient(180deg, #5d4037, #531639, #010734);
}

body.sagittarius {
  background: linear-gradient(180deg, #b696ed, #f5d078);
}

body.capricorn {
  background: linear-gradient(180deg, #fff4ba, #005136, #00094b);
}

body.aquarius {
  background: linear-gradient(180deg, #fffce1, #cbf9ff, #29d1b2);
}

body.pisces {
  background: linear-gradient(180deg, #27b089, #8cc38e, #e5b7ed);
}
